nav {
    background-color: #fff;

    img {
        margin-right:60px;
    }

    .bar {
        width: 1px;
        height: 1rem;
        background-color: rgb(226, 230, 230);
    }
    
    .nav-icon {
        font-size: 1.2rem ;
    }
    
    .nav-item {
        cursor: pointer;
    }
    
    .custom-dropdown {
        position: relative;
    
        .english {
            padding-bottom: 10px;
        }
    
        ul {
            visibility: hidden;
            position: absolute;
            top: 40px;
            z-index: 100;
            background-color: #fff;
            box-shadow: 0 1px 7px -2px rgba(0, 0, 0, 0.3);
            border-radius: .5rem;
            padding: 1rem 1.5rem;
            transition: all .4s ease;
            opacity: 0;
            transform: translateY(20px);
            
    
            li {
                margin-bottom: .5rem;
            }
        }
    }
    
    .custom-dropdown:hover ul {
       visibility: visible;
       opacity: 1;
       transform: translate(0);
    }
    
}

hr {
    margin: 0;
    color: rgb(100, 96, 96);
}
