.container {
    width: 800px;
    margin: 20px auto;
    display: flex;
    justify-content: space-between;
    background-color: beige;
}

.box {
    width: 150px;
    height: 150px;
    border: 2px solid green;
    margin: 20px;
    overflow: hidden;
}

.A {
    border-radius: 10px;
}

.B {
    border-radius: 50px;
}

.C {
    background: orchid;
    border-radius: 50%;
}

img {
    width: 150px;
    height: 150px;
}