@import './resets';
@import './variables';

@function weight($weight-name) {
    @return map-get($font-weights, $weight-name)
}

@mixin flexCenter {
    display: flex;
    justify-content: center;
    align-items: center;
}

@mixin theme($light-theme: true) {
    @if $light-theme {
        background-color: lighten($primary-color, 100%);
        color: darken($text-color, 100%)
    }
}

body {
    background-color: $primary-color;
    color: $text-color;
}


.light {
    @include theme(false);
}

.main {
    @include flexCenter;
    width: 80%;
    margin: 0 auto;
    font-size: 20px;

    #{&}__para1 {
        font-weight: weight(regular);

        &:hover {
            color: $secondary-color;
        }
    }

    #{&}__para2 {
        @extend .main__para1;
    }
}