.navbar {
  background-color: #fff;
}
.navbar i {
  font-size: 50px;
}
.navbar button {
  padding: 0.5rem;
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
}

.hero-section {
  background-image: url("../../assets/corporate.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  opacity: 0.9;
  padding: 10% 0;
}
.hero-section h1, .hero-section p {
  color: #fff;
  text-shadow: 1px 1px 2px #000;
}
.hero-section button {
  padding: 0.5rem;
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
}

.featured-items i {
  font-size: 2.5rem;
  margin-bottom: 1.5rem;
}

.carousel-indicators {
  bottom: 0;
  transform: translatey(50px);
}
.carousel-indicators .carousel-indicator-item {
  background-color: rgb(123, 20, 241) !important;
}

.call-to-action {
  background-color: rgb(133, 153, 19);
  color: #fff;
}
.call-to-action button {
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
  padding: 0.5rem;
}

.specs {
  list-style: none;
}
.specs li {
  position: relative;
  margin-bottom: 1.5rem;
}
.specs li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-size: 1.5rem;
  position: absolute;
  left: -35px;
  color: #739913;
}

.footer-section {
  padding: 40px 0;
}
.footer-section a {
  text-decoration: none;
  color: #000;
}
.footer-section .social-icon i {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  font-size: 20px;
  border: 1px solid #ddd;
  border-radius: 50%;
  margin-right: 0.7rem;
}
.footer-section a:hover {
  color: purple;
}
.footer-section button {
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
}

.pricing-section {
  padding: 40px 0 60px 0;
}
.pricing-section .price-card {
  background-color: #e5eaec;
  height: 100%;
  display: flex;
  flex-direction: column;
}
.pricing-section .price-header {
  color: #fff;
  padding: 5rem 0;
}
.pricing-section .personal {
  background-color: rgb(35, 35, 226);
}
.pricing-section .professional {
  background-color: purple;
}
.pricing-section .business {
  background-color: rgb(112, 175, 18);
}
.pricing-section .price-body {
  padding: 3rem 2rem 1rem 2rem;
}
.pricing-section .price-body ul {
  list-style: none;
}
.pricing-section .price-body li {
  margin-bottom: 1.5rem;
  position: relative;
}
.pricing-section .price-body li:before {
  font-family: "Font Awesome 5 Free";
  content: "\f14a";
  font-size: 1.5rem;
  color: rgb(148, 204, 99);
  position: absolute;
  left: -30px;
  top: -3px;
}
.pricing-section .vertical-gap {
  flex: 1;
}
.pricing-section .price-footer {
  padding: 0 2rem 2rem 2rem;
}
.pricing-section .price-footer button {
  padding: 0.5rem;
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
}

.contact-section img {
  width: 100%;
  height: 500px;
  object-fit: cover;
  object-position: center;
}
.contact-section .form-group {
  margin-bottom: 1.5rem;
}
.contact-section button {
  background-image: linear-gradient(90deg, rgb(48, 35, 121) 0, yellow);
  border: none;
}

.about-section {
  padding: 40px 0 20px 0;
}
.about-section p {
  padding: 1rem 0;
}

.download-card {
  padding: 4rem 3rem 8rem 4rem;
  background-color: #ddd;
  border-radius: 10px;
}

.extra-margin {
  margin-top: 78px;
}

/*# sourceMappingURL=style.css.map */
