.contact-section {
    img {
        width: 100%;
        height: 500px;
        object-fit: cover;
        object-position: center;
    }

    .form-group {
        margin-bottom: 1.5rem;
    }

    button {
        background-image: linear-gradient( 90deg, rgb(48, 35, 121) 0 ,yellow);
        border: none;
    }
}